.section-find-car {
  padding-top: 100px;
  padding-bottom: 100px;

  .space-delimeter {
    padding-top: 9.2%;
  }

  .bg-section {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 790px;
  }

  .container {
    flex-grow: 1;
  }

  .section__title {
    margin-bottom: 30px;
    max-width: 80%;
    color: $white;
  }

  .section__text {
    max-width: 900px;
    font-size: 21px;
    color: $white;
    font-weight: 300;
  }

  .form-choose {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $white;
    border-radius: 10px;
  }

  .wrap-select {
    width: 22.5%;
    padding-left: 24px;
  }

  .nice-select {
    height: 100%;
  }

  .wrap-select,
  .btn_choose {
    height: 90px;
  }

  .btn_choose {
    display: flex;
    width: 10%;
    border-radius: 0 10px 10px 0;
    padding: 20px;
    position: relative;
    z-index: 2;
    svg{
      width: 43px;
      height: 45px;
      display: block;
      margin: auto;
    }
    &:hover,
    &:focus{
      svg{
        fill: $light-green-200;
      }
    }
  }
}

@media all and (max-width: 1465px) {
  .section-find-car {
    padding-bottom: 60px;
  }
}