.section-find-car {
  padding-top: 100px;
  padding-bottom: 100px;

  .space-delimeter {
    padding-top: 9.2%;
  }

  .bg-section {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 790px;
    position: relative;
    &:before{
      position: absolute;
      content: '';
      display: block;
      background-color: rgba(0,0,0, .3);
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 1;
    }
  }

  .container {
    flex-grow: 1;
    position: relative;
    z-index: 2;
  }

  .section__title {
    margin-bottom: 30px;
    max-width: 80%;
    color: $white;
  }

  .section__text {
    max-width: 900px;
    font-size: 21px;
    color: $white;
    font-weight: 300;
  }

  .form-choose {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $white;
    border-radius: 10px;
  }

  .wrap-select {
    width: 22.5%;
    padding-left: 24px;
  }

  .nice-select {
    height: 100%;
  }

  .wrap-select,
  .btn_choose {
    height: 90px;
  }

  .btn_choose {
    display: flex;
    width: 10%;
    border-radius: 0 10px 10px 0;
    padding: 20px;
    position: relative;
    z-index: 2;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 43px;
      height: 45px;
      display: block;
    }

    &:hover,
    &:focus {
      svg {
        fill: $light-green-200;
      }
    }
  }
}

@include respond-to($screen-md) {
  .section-find-car {
    padding-bottom: 60px;
  }
}

@include respond-to($lg) {
  .section-find-car {
    .wrap-select {
      padding-left: 0;
    }
  }
}


@include respond-to($md) {
  .section-find-car {
    .bg-section {
      padding: 80px 0;
    }

    .section__text {
      font-size: 18px;
    }

    .content-section {
      padding-right: 45px;
      width: 55%;
      flex-shrink: 0;
    }

    .btn_choose svg {
      width: 36px;
      height: 36px;
    }

    .section__title {
      max-width: none;
    }

    .container {
      display: flex;
      align-items: center;
    }
  }

  .form-choose {
    flex-direction: column;
    max-width: 420px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;


    .wrap-select {
      width: 100%;
      border-bottom: 1px solid #ddd;

      &:last-of-type {
        border-bottom: none;
      }
    }

    .wrap-select,
    .btn_choose {
      height: 65px;
    }

    .btn_choose {
      width: 100%;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0 0 10px 10px;
    }

    .nice-select {
      justify-content: space-between;
      border-radius: 0;
    }
  }
}

@include respond-to($sm) {
  .section-find-car {
    padding-top: 0;
  }
}

@include respond-to($xs) {
  .section-find-car {
    .container {
      display: block;
    }

    .content-section {
      width: 90%;
      padding-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
}
