.section-trust-value {
  padding-top: 100px;
  padding-bottom: 70px;

  .container-default {
    display: flex;
    flex-wrap: wrap;
  }

  .section__title {
    max-width: 320px;
    margin-bottom: 27px;
  }

  .content-section {
    width: 30%;
    padding: 20px 55px;
  }

  .value-list {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      position: relative;
      width: 25%;
      padding: 0 20px;

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 1px;
        height: 49px;
        background-color: $white-grey;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child:before {
        display: none;
      }
    }

    .card {
      position: relative;
      max-width: 240px;
      width: 100%;
      text-align: left;
      margin: 0 auto;
      padding: 20px;
      border: none;
      color: #000000;

      &:before {
        position: absolute;
        content: '';
        display: block;
        background-image: url(../assets/img/icons/check.png);
        width: 26px;
        height: 22px;
        right: 30%;
        top: 23px;

        z-index: 2;
      }

      &__title {
        font-family: $secondary-font;
        font-size: 23px;
        font-weight: 500;
        color: #000000;
        margin-bottom: 20px;
      }

      &__body {
        font-size: 12px;
        line-height: 1.42;
        font-family: $secondary-font;
      }
    }

    .bg-icon {
      width: 68px;
      height: 68px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      margin-bottom: 10px;
    }
  }
}

@include respond-to($screen-md) {
  .section-trust-value {
    .content-section{
      padding-left: 20px;
      padding-right: 20px;
    }
    .value-list__item{
      width: 50%;
      &:nth-child(2):before{
        display: none;
      }
    }
  }
}

@include respond-to($xs) {
  .section-trust-value {
    .content-section {
      width: 75%;
      margin: auto;
      text-align: center;
    }

    .section__title,
    .value-list {
      width: 100%;
      max-width: none;
      &__item{
        padding: 0 15px;
      }
    }


    .section__text {
      max-width: none;
    }
  }
}

@media all and (max-width: 480px){
  .section-trust-value{
    .content-section{
      width: 90%;
    }
    .value-list__item{
      width: 100%;
      padding: 0;
      &:before{
        display: none;
      }
    }
  }
}