

.section-popular-brands {
  padding-bottom: 110px;

  .container-default {
    display: flex;
  }

  .brands-pagination {
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    display: block;

    .swiper-button-prev,
    .swiper-button-next {
      position: relative;
      left: auto;
      right: auto;
      top: auto;
      bottom: auto;
      margin-top: 0;
    }

    .swiper-pagination {
      position: relative;
    }
  }

  .swiper-container {
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  .content-section {
    width: 465px;
    flex-shrink: 0;
    padding: 0 55px 45px;
  }

  .link-show-brands {
    position: relative;
    color: #000000;
    font-family: $secondary-font;
    font-size: 21px;
    font-weight: 600;
    padding-right: 25px;
    transition: .35s;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:before {
      position: absolute;
      content: '';
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 9px;
      border-color: transparent transparent transparent #30bc55;
      z-index: 2;
    }
  }

  .block-view-brands {
    position: relative;
    flex-grow: 1;
    width: 100%;
    max-width: calc(100% - 465px);
    padding-left: 45px;
  }

  .swiper-slide {
    padding-left: 10px;
    padding-right: 20px;
  }

  .swiper-container-initialized {
    .card {
      margin-left: auto;
    }
  }

  .card {
    max-width: 320px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #b7b7b7;
    text-align: center;
    padding: 30px 36px 40px;

    &__title {
      color: #000000;
      font-family: $secondary-font;
      font-size: 21px;
      font-weight: 600;
    }

    &__link {
      color: #45c366;
      font-family: $secondary-font;
      font-size: 15px;
      font-weight: 500;
      transition: .35s;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    .bg-logo-brand {
      width: 100%;
      height: 65px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 25%;
      margin-bottom: 40px;
    }

    .wrap-img {
      position: relative;
      width: 100%;
      padding-top: 48%;
      margin-bottom: 60px;

      .img-car {
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: 100%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }
  }
}

@include respond-to($screen-md) {
  .section-popular-brands {
    .content-section {
      padding-right: 15px;
      padding-left: 20px;
    }

    .brands-pagination {
      padding-top: 40px;
    }
  }
}

@include respond-to($lg) {
  .section-popular-brands {
    .content-section {
      width: 40%;
    }

    .block-view-brands {
      width: 60%;
      padding-left: 10px;
    }

  }
}

@include respond-to($md) {
  .section-popular-brands {
    .swiper-slide {
      padding: 0;
    }
  }
}
@include respond-to($sm) {
  .section-popular-brands {
    .content-section {
      width: 45%;
    }

    .block-view-brands {
      width: 55%;
      padding-left: 10px;
    }

  }
}

@include respond-to($xs) {
  .section-popular-brands {
    .container-default {
      flex-wrap: wrap;
    }

    .swiper-container {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
      padding: 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }

    .card {
      max-width: 350px;
      padding: 15px;

      .bg-logo-brand {
        margin-bottom: 20px;
      }

      .wrap-img {
        margin-bottom: 45px;
      }
    }

    .swiper-container-initialized {
      .card {
        margin-left: 0;
      }
    }


    .content-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-bottom: 15px;
    }

    .block-view-brands {
      width: 100%;
      max-width: none;
      padding: 0;
    }
  }
}

@media all and (max-width: 380px) {
  .section-popular-brands {
    .card__title {
      font-size: 14px;
    }

    .card__link {
      font-size: 13px;
    }
  }
}
