.section-banner {
  overflow: hidden;

  .container-default {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 834px;
    padding-top: 80px;
    padding-bottom: 20px;

    &:before,
    &:after{
      position: absolute;
      content: '';
      display: block;
      width: 2px;
      height: 200%;
      z-index: 20;
      background-color: $white;

    }
    &:before{
      left: 50%;
      transform: rotate(-45deg);
    }
    &:after{
      left: 50%;
      transform: rotate(45deg);
    }

  }

  .side {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/red-tesla-model-s.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    }

  .side1 {
    //clip-path: polygon(25% 0, 51% 50%, 25% 100%, 0 100%, 0 0);
    //clip-path: polygon(25.5% 0, 50.2% 53.5%, 29% 100%, 0 100%, 0 0);
    clip-path: polygon(26.5% 0, 50.2% 53.5%, 30% 100%, 0 100%, 0 0);
    transform: translateX(-25%);
  }

  .side2 {
    //clip-path: polygon(50% 50%, 25% 0, 75% 0);
    //clip-path: polygon(50.1% 53.5%, 25.5% 0, 74.5% 0);
    clip-path: polygon(50.1% 54.5%, 25.5% 0, 74.5% 0);
    transform: translateY(-25%);
  }

  .side3 {
    //clip-path: polygon(75% 0, 49% 50%, 75% 100%, 100% 100%, 100% 0);
    //clip-path: polygon(74.5% 0, 50% 53.7%, 71.2% 100%, 100% 100%, 100% 0);
    clip-path: polygon(73.5% 0, 50% 53.7%, 70.2% 100%, 100% 100%, 100% 0);
    transform: translateX(25%);
  }

  .side4 {
    //clip-path: polygon(50% 50.5%, 27.2% 100%, 72.8% 100%);
    clip-path:polygon(50.1% 53.5%, 29% 100%, 71.2% 100%);
    transform: translateY(25%);
  }
}


.link {
  max-width: 460px;
  width: 50%;
  padding: 20px;

  &:hover,
  &:focus {
    svg {
      text {
        fill: #fff;
        text-shadow: none;
      }
    }
  }
}

.wrap-text {
  width: 100%;

  span {
    display: flex;
    flex-direction: column;
    width: 100%;
  //  max-width: 270px;
    color: #ffffff;
    font-family: $secondary-font;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.4;
    padding-left: 20px;
  }

  svg {
    height: 100px;
    width: 210px;
    margin-bottom: 8px;

    text {
      font-size: 148px;
      fill: transparent;
      stroke: #fff;
      stroke-width: 4px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      transition: fill .35s, text-shadow .2s;
    }
  }
}

.section-grid {
  position: relative;
  z-index: 5;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 50%;

  .link:first-child,
  .link:last-child {
    width: 100%;

    span {
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 auto;
    }

    .wrap-text {
      text-align: center;
    }
  }

  .link:first-child {
    .wrap-text {
      svg {
        width: 360px;
      }
    }
  }

  .link:nth-child(3) {
    .wrap-text {

    }
  }
}