html {
  font: 400 16px/1.35 'GotmanPro', sans-serif;
  background-color: $white;
}

body {
  position: relative;
  background-color: $white;
}

.wrapper {
  overflow: hidden;
  max-width: 1920px;
  padding: 0 45px;
}

.description {
  padding: 65px 0;
  color: #000000;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  .text {
    font-family: $secondary-font;
    font-size: 21px;
    font-weight: 300;
  }
}

.section__title{
  max-width: 260px;
  color: #000000;
  font-family: $secondary-font;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.17;
  margin-bottom: 10px;
 .green-color{
   color: #30bc55;
 }
  &_big{
    font-size: 52px;
    width: 100%;
    max-width: initial;
  }
}

.section__text{
  width: 100%;
  max-width: 370px;
  color: #706f6f;
  font-family: $secondary-font;
  font-size: 17px;
  line-height: 1.35;
  margin-bottom: 35px;
}

@media all and (max-width: 1200px) {
  .wrapper{
    padding: 0;
  }
}

