/*
* Fonts
*/
$primary-font:"GotmanPro",sans-serif;
$secondary-font: "Montserrat", sans-serif;

/*
* Colors
*/

$primary-color: #30bc55;
$light-green: #45c366;
$light-green-100: #4ab33c;
$green:#168233;
$white: #fff;
$off-white:#fffefe;
$white-grey:#cfcfcf;
$black: #000000;
$black-100:#010101;
$dark-gray:#4b4b4b;
$dark-gray-100:#706f6f;
$dark-gray-200: #bebebe;
$gray:#b7b7b7;
$light-gray: #cccccc;




/*
* Breakpoints
*/

$xs: '(max-width: 580px)';
$sm: '(max-width: 767px)';
$md: '(max-width: 991px)';
$lg: '(max-width: 1250)';
$xl: '(max-width: 1920)';



